## App Variables
APP_NAME=Node Structure
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=3000

## DB Variables
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=node-structure
DB_USERNAME=node-structure
DB_PASSWORD=password

## Queue Variables
QUEUE_ENABLED=false
QUEUE_CONNECTION=redis

## Redis Variables
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379